wandb
biopython
hydra-core >= 1.3
seaborn
pandas
transformers
lightning
einops
tqdm
numba
git+https://github.com/facebookresearch/esm.git@d7b3331f41442ed4ffde70cb95bdd48cabcec2e9
dm-tree
modelcif
ml_collections
omegaconf
h5py
lmdb
safetensors
git+https://github.com/amyxlu/evo.git
scipy
scikit-learn
py3Dmol
pyarrow  # for pandas dataframe
plotly   # to log wandb plots
jupyter
ninja
biotite
# git+https://github.com/amyxlu/openfold.git --install-option="--no-deps"

# ipython related
ipython
jupyter
ipykernel
